body {
    font-size: larger;
    font-weight: bold;
}

header {
    overflow: hidden;
    background-color: blueviolet;
}
header h1 {
    text-align: center;
    color: white;
    padding: 20px auto;
}

.result {
    overflow: hidden;
    width: 20%;
    margin: 15px auto;
    background-color: chartreuse;
    text-align: center;
    border: 3px solid red;
}

.result p {
    padding: 10px auto;
    color: red;
}

.article {
    overflow: hidden;
    margin: 10px 0 0 1%;
    width: 30%;
    float:left;
    background-color: antiquewhite;
    text-align: center;
    border: 3px solid blueviolet;
    border-radius: 15px;
}

.article h2 {
    display: block;
    background-color: aquamarine;
    color: blue;
}

.article form {
    margin: auto;
    width: 95%;
}

.article label {
    display: inline-block;
    font-style: oblique;
    width: 20%;
}

.article input {
    margin: 10px auto;
    padding: 20px auto;
    width: 50%;
    height: 20px;
    border: 2px solid chartreuse;
    border-radius: 15px;
    color: red;
    font-weight: bold;
}

.article button {
    margin: 15px auto 20px 1%;
    height: 30px;
    width: 30%;
    text-align: center;
    font-weight: bold;
    background-color: blueviolet;
    color: white;
    border: 0;
    border-radius: 15px;
}

.article button:hover {
    background-color: rgb(84, 22, 142);
    cursor: pointer;
}

.article button:active {
    opacity: 0.5;
}

@media screen and (max-width:1000px) {
    .article {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .article {
        width: 90%;
    }
}
