* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

.main {
    width: 90%;
    margin: auto;
}

/* Menu */

.menu-nav {
    background-color: rgb(43, 202, 202);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.menu-ul {
    list-style: none;
}
.menu-ul__li {
    display: inline-block;
}
.menu-ul__li a {
    color: white;
    text-decoration: none;
    font-size: large;
}
.menu-ul__li a:hover {
    color: red;
}
.menu-ul__li a:active {
    color: blue;
}
.menu-ul__li a::after {
    content: " | ";
}

/* Arcticle */

section article {
    background-color: aquamarine;
}

section article div {
    padding: 40px 0px;
    margin: auto;
    overflow: hidden;
    width: 90%;
}
section article img {
    float: left;
    width: 50%;
}
section article p {
    padding: 0 20px;
    width: 50%;
    float: left;
    text-align: justify;
    text-transform: lowercase;
    font-weight: bold;
    text-indent: 40px;
    line-height: 40px;
    word-spacing: 20px;
    letter-spacing: 2px;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.2);
}

/* a */

section .a {
    display: block;
    text-decoration: none;
    background-color: rgb(101, 183, 183);
    font-size: 20px;
    text-align: center;
    text-transform:capitalize;
    padding: 20px;
}
section .a:hover {
    color: white;
}

/* Button */

section .div-btn {
    margin: 20px;
    text-align: center;
}
section .div-btn div {
    margin: 20px;
}
section .btn {
    background: greenyellow;
    color: red;
    font-size: large;
    padding: 10px 30px;
    border-radius: 30px;    
}

section .btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

section .second {
    padding: 20px 40px;
}

/* Boxes */

.box {
    background-color: blue;
    width: 200px;
    height: 100px;
    margin: 20px;
    text-align: center;
    color: white;
}

.box1 {
    position: relative;
    left: 300px;
    top: 100px;
}


/* Fixed button */

.fixed-button-div {
    width: 50px;
    height: 50px;
    /* float: right; */
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.fixed-btn {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
}
